<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <label for="title">Title/ Main Concept:</label>
        <input type="text" id="title" name="title" required>

        <br>

        <label for="subject">Subject:</label>
        <select name="subject" id="subject">
            {% for s in subjects %}
                <option value="{{s}}">{{s}}</option>
            {% endfor %}
        </select>

        <br>

        <label for="concepts_learned">Concepts Learned</label>
        <br>
        <textarea id="concepts_learned" name="concepts_learned" rows="10" cols="50"></textarea>

        <br>

        <label for="reference_notes">Reference Notes</label>
        <br>
        <textarea id="reference_notes" name="reference_notes" rows="10" cols="50"></textarea>

        <br>
        <label for="key_takeaways">Key Takeaways</label>
        <br>
        <textarea id="key_takeaways" name="key_takeaways" rows="10" cols="50"></textarea>
        <br>


        <fieldset class="date">

            <legend>Date</legend>
                <input type="date" id="date" name="date">
       </fieldset>

        <button type="submit">Save Entry</button>
    </form>
</body>
</html>

<!-- TODO 1: ARIA / accessibility pass

TODO 2: Add placeholder text

TODO 3: Backend wiring (Flask route + POST handling)

 -->