<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <label for="title">Title/Concept:</label>
        <input type="text" id="title" required>



        <button type="submit">Save Entry</button>
    </form>
</body>
</html>

<!-- Concept / Title
“e.g. Event Delegation in JS”

Topic

Python

JavaScript

CSS

Other

What did I learn?
(textarea)

What confused me or took time to understand?
(textarea)

Why does this matter / when would I use it?
(textarea, optional)

Submit button: “Save entry” -->